* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: sans-serif;
}

body {
	background-color: palegoldenrod;
}

button {
	appearance: none;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	line-height: 1;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}
.row.equal > * {
	flex: 1;
}

.column, .markdown-body {
	display: grid;
	align-content: start;
	gap: 1em;
	grid-template-columns: minmax(0, 100%);
}

.card {
	padding: 1em;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.5);
}

img {
	max-width: 100%;
}
