* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: sans-serif;
}

body {
	background-color: palegoldenrod;
}

button {
	appearance: none;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	line-height: 1;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.column {
	display: grid;
	gap: 1em;
}
